{% extends 'base.html.twig' %}

{% block body %}
    {{parent()}}

    {{form_start(form, {attr: {class: "pure-form pure-form-aligned"}})}}
    <!-- <form class="pure-form pure-form-aligned"> -->
        <fieldset>
            <div class="pure-control-group">
                {{form_label(form.name)}}
                {{form_widget(form.name)}}
            </div>

            <div class="pure-controls">
                {{form_widget(form.free)}}
                {{form_label(form.free)}}
            </div>
            <div class="pure-controls">
                {{form_widget(form.save, {attr: {class: "pure-button pure-button-primary"}})}}
            </div>
        </fieldset>
    {{form_end(form)}}

{% endblock %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block javascripts %}
    {{parent()}}
{% endblock %}
