{% extends 'base.html.twig' %}

{% block body %}
    {{parent()}}

    <div class="pure-g">
        <div class="pure-u-1-2">
            {% include '::pony/free_ponies.html.twig' with {ponies: freePonies} only %}
            {% include '::pony/busy_ponies.html.twig' with {ponies: busyPonies} only %}
        </div>
        <div class="pure-u-1-2">
            {% include '::pony/all_ponies.html.twig' with {ponies: allPonies} only %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}

    <!-- The core React library -->
    <script src="https://fb.me/react-0.13.3.js"></script>
    <!-- In-browser JSX transformer, remove when pre-compiling JSX. -->
    <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
    <!-- asteroid -->
    <script src="bower_components/ddp.js/src/ddp.js"></script>
    <script src="bower_components/q/q.js"></script>
    <script src="bower_components/asteroid/dist/asteroid.browser.js"></script>

    <!-- Ponies components -->
    <script type="text/jsx" src="{{ asset('js/components/base/reactive-list.js') }}"></script>
    <script type="text/jsx" src="{{ asset('js/components/ponies/free-ponies.js') }}"></script>
    <script type="text/jsx" src="{{ asset('js/components/ponies/busy-ponies.js') }}"></script>
    <script type="text/jsx" src="{{ asset('js/components/ponies/all-ponies.js') }}"></script>
    <script type="text/jsx">
        var asteroid = new Asteroid("localhost:3000");
        React.render(<FreePonies asteroid={asteroid} />, document.getElementById('react-ponies-free-ponies'));
        React.render(<BusyPonies asteroid={asteroid} />, document.getElementById('react-ponies-busy-ponies'));

        // need new connection, else there is collision :(
        var asteroid2 = new Asteroid("localhost:3000");
        React.render(<AllPonies asteroid={asteroid2} />, document.getElementById('react-ponies-all-ponies'));
    </script>
{% endblock %}
